  @model Course_station.Models.Instructor
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Instructor Details</h1>

<div class="instructor-details card shadow-sm p-4 mb-5 bg-white rounded">
    <div class="instructor-header d-flex align-items-center mb-4">
        <div class="instructor-info ml-3">
            <h2 class="text-primary">@Model.InstructorName</h2>
            <h3 class="text-primary">ID: @Model.InstructorId</h3>
            <p class="text-muted">@Model.Email</p>
        </div>
    </div>

    <div class="instructor-details">
        <h4 class="text-secondary">Personal Information</h4>
        <dl class="row">
            <dt class="col-sm-3">Latest Qualification</dt>
            <dd class="col-sm-9">@Model.LatestQualification</dd>

            <dt class="col-sm-3">Expertise Area</dt>
            <dd class="col-sm-9">@Model.ExpertiseArea</dd>
        </dl>
    </div>

    <div class="courses mt-4">
        <h4 class="text-secondary">Courses</h4>
        <ul>
            @foreach (var course in Model.Courses)
            {
                <li>
                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.CourseId">@course.Title</a>
                </li>
            }
        </ul>
    </div>

    <div class="emotional-feedback-reviews mt-4">
        <h4 class="text-secondary">Emotional Feedback Reviews</h4>
        <ul>
            @foreach (var review in Model.EmotionalfeedbackReviews)
            {
                <li>@review.Review</li>
            }
        </ul>
    </div>

    <div class="path-reviews mt-4">
        <h4 class="text-secondary">Path Reviews</h4>
        <ul>
            @foreach (var review in Model.Pathreviews)
            {
                <li>@review.Feedback</li>
            }
        </ul>
    </div>
</div>
